body{
	background-color :#A9A9A9;
}
.name
{
	padding-top: 50px;
	padding-left:15px;
}
.intro
{
	padding-top:20px;
	padding-left:15px;
}
.more-info
{
	padding-left:15px;
}
h3{
   color:green;
}
p
{
	padding-left:25px;
}
a
{
	color:green;
}
.footer
{
	text-align:center;
	margin-top:30px;
	color:green;
}